.about {
  padding: 75px 0;
}
.about__container {
  display: flex;
  justify-content: center;
  gap: 200px;
}
.about__content {
  max-width: 730px;
}
.about__text {
  font-size: 24px;
  color: #0F0F0F;
  margin-bottom: 40px;
}